---
import BaseLayout from '@/layouts/BaseLayout'
import ThreeScene from '@/components/ThreeScene'
---

<BaseLayout title='3Dモデル表示 (React)'>
	<div class='container mx-auto'>
		<h1 class='text-2xl font-bold mb-4'>3Dモデル表示 (React Three Fiber)</h1>
		<div id='content' class='w-full h-[500px] relative'>
			<ThreeScene modelPath='/models/flamy.glb' client:only='react' />
		</div>
	</div>
</BaseLayout>
