---
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='3Dモデルページ'>
	<div class='flex flex-col container mx-auto [&>p]:mb-4'>
		<h1 class='text-4xl font-bold text-center mb-8'>3Dモデルのページ</h1>
		<h2 class='text-2xl font-bold text-center mb-8'>Welcome to the 魔女喫茶クローディアス！</h2>

		<h3>工事中</h3>

		<p>
			このサイトのメインコンテンツ2つめ。当サイトで公開している3Dモデルの「フレミー」・「ドロシー」のページ。
		</p>

		<div class='grid gap-4 grid-cols-1 sm:grid-cols-2 my-8 [&>div]:flex [&>div]:flex-col'>
			<div>
				<a href='#' class='btn-game'>Story of Claudias</a>
				<p>フレドロ周りの日常時々冒険物語。工事中。</p>
			</div>
			<div>
				<a href='/model/documents' class='btn-game'>キャラクター紹介</a>
				<p>フレミーとドロシーの設定、及び他のキャラクターの紹介。</p>
			</div>
		</div>
	</div>
</BaseLayout>
