---
import MenuIcon from './icons/MenuIcon.astro'
import ToggleTheme from './ToggleTheme.astro'

const navItems = [
	{
		name: 'Game',
		path: '/game'
	},
	{
		name: 'Lily',
		path: '/lily'
	},
	{
		name: 'Model',
		path: '/model'
	},
	{
		name: 'Diary',
		path: '/blog'
	},
	{
		name: 'RSS',
		path: '/rss.xml'
	}
]
---

<header class='relative flex items-center h-12 font-semibold'>
	<div class='text-lg mr-auto'>
		<a href='/'>Home</a>
	</div>

	<nav
		id='astro-header-drawer'
		class='flex flex-col gap-4 md:flex-row md:border-r-2 border-black dark:border-white text-right [&>a]:text-2xl md:[&>a]:text-base shadow rounded-l-lg md:bg-transparent dark:md:bg-transparent bg-white dark:bg-[#0a0910] md:shadow-none md:rounded-none md:border-none md:h-auto md:static absolute transition-transform duration-300 ease-in translate-x-96 md:translate-x-0 top-12 -right-5 pl-4 pt-6 pb-4 pr-4 md:p-0 md:pr-[270px] h-[250px] w-[120px] z-50'
	>
		{
			navItems.map(({ name, path }) => (
				<a href={path} class='block'>
					{name}
				</a>
			))
		}
	</nav>

	<div class='flex items-center gap-3' transition:persist='navbar'>
		<ToggleTheme />
		<button id='astro-header-drawer-button' type='button' class='md:hidden'>
			<MenuIcon />
			<span class='sr-only'>Show Menu</span>
		</button>
	</div>
</header>

<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
