---
const { src, type = 'video/mp4', width = 640, height = 360 } = Astro.props
---

<link href="https://vjs.zencdn.net/8.23.3/video-js.css" rel="stylesheet" />

<div class='prose prose:lg md:prose-xl [&>*]:mb-4 dark:prose-invert min-w-full'>
    <video
        id='my-video'
        class='video-js vjs-default-skin'
        controls
        preload='auto'
        width={width}
        height={height}
        data-setup='{}'
    >
        <source src={src} type={type} />
    </video>
</div>

<script src='https://vjs.zencdn.net/8.23.3/video.min.js'></script>