<form
	class='flex flex-col items-center gap-4'
	action='https://ssgform.com/s/omc47gQVo83R'
	method='post'
>
	<h2 class='text-2xl'>お問い合わせはこちら↓</h2>
	<div style='display: none;'>
		<input type='text' name='wana' />
	</div><!-- name="wana"を見えない状態で設置 -->
	<label for='user-name'>お名前</label>
	<input
		type='text'
		id='user-name'
		class='block w-full max-w-[480px] p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
		name='お名前'
		required='required'
	/>
	<label for='user-email'>メールアドレス</label>
	<input
		type='email'
		id='user-email'
		class='block w-full max-w-[480px] p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
		name='メールアドレス'
		required='required'
	/>
	<label for='contact-contents'>お問い合わせ内容</label>
	<textarea
		id='contact-contents'
		class='field-sizing-content inset-0 block w-full h-full overflow-hidden box-border p-[5px_15px] bg-transparent border border-[#b6c3c6] rounded-md text-inherit font-inherit tracking-inherit resize-none focus:outline-0 focus:shadow-[0_0_0_4px_rgba(35,167,195,0.3)] focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 sm:mx-auto sm:px-8 lg:px-24 antialiased'
		name='お問い合わせ内容'
		required='required'></textarea>
	<button
		class='bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 p-[15px_30px]'
		type='submit'>送信する</button
	>
</form>
