---
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='Yggdrasil Rubellum'>
	<h1 class='text-4xl font-bold text-center mb-8'>Yggdrasil Rubellum - ユグドラシル・ルベルム</h1>
	<div class='grid gap-4 grid-cols-1 sm:grid-cols-2 my-8 [&>div]:flex [&>div]:flex-col'>
		<div class='rounded-full text-3xl text-center py-2 m-3'>
			<h2>1章</h2>
			<a href='/novel/toc/1-1' class='btn-game'> 仮</a>
		</div>
	</div>
</BaseLayout>

<style>
	.btn-game {
		@apply bg-gray-600 hover:bg-gray-400 text-white rounded-full text-2xl text-center py-2 m-3;
	}
</style>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
