---
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='GameDiary'>
	<div class='flex flex-col container mx-auto'>
		<h1 class='text-4xl font-bold text-center'>プレイ日記蔵書庫</h1>
	</div>
	<p>
		ゲームのプレイ日記。YouTubeの動画付きのものも。<br />
		 ちなみにタイトルの元ネタは「悪魔城蔵書庫＠キャッスルヴァニア 暁月の円舞曲」です<s
			>ドゥドゥドゥエ！</s
		>
	</p>

	<h2 class='text-2xl font-bold text-center'>特設シリーズ以外</h2>

	<table>
		<thead class='bg-gray-200 dark:bg-gray-700'>
			<tr class='border-gray-500 dark:border-gray-600 border-2'>
				<th>タイトル</th>
				<th>機種</th>
				<th>概要</th>
			</tr>
		</thead>
		<tbody
			class='bg-gray-100 dark:bg-gray-800 text-left [&_tr]:border-gray-400 [&_tr]:dark:border-gray-700 [&_tr]:border-2'
		>
			<tr>
				<td><a href='/game/playdiary/lang1pce' class='underline'>ラングリッサー 光輝の末裔</a></td>
				<td>PCエンジンCD</td>
				<td>「戦」感を再現した手ごわいシミュレーション</td>
			</tr>
			<tr>
				<td><a href='/game/playdiary/lang1md' class='underline'>ラングリッサー</a></td>
				<td>メガドライブ</td>
				<td>↑の原作</td>
			</tr>
		</tbody>
	</table>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
